/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure the overlay appears on top of other elements */
    pointer-events: none; /* Allow pointer events to pass through the overlay */
}

.overlay.active {
    pointer-events: auto; /* Disable pointer events on the overlay */
}

.button-loading {
    color: transparent !important;
    background: #0b5ed7 url("/images/loading.gif") no-repeat center;
    background-size: 32px;
}

.right-content {
    min-height: 100vh;
}

.nav .month-nav {
    line-height: 27px;
    /*margin: 0 20px;*/
}

.calendar-title {
    display: inline-block;
}

.date-select-form {
    display: inline-block;
}

.main-table {
    border-spacing: 0;
    width: 100% !important;
}

.main-table tbody tr {
    height: 400px;
    border-bottom: 1px solid black;
}

.main-table th {
    padding: 10px !important;
}

.main-table th,
.main-table td {
    cursor: pointer;
    max-width: 1px;
}

.main-table .single-cell {
    padding: 0.2rem 0.2rem !important;
}

.main-table tbody td .cell-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    text-align: right;
    line-height: 16px;
    font-size: 13px;
}

.main-table tbody td .cell-top .row-week {
    background: #ffe700;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px;
}

.main-table td .cell-content {
    width: 100%;
    height: 94%;
}

.main-table td .cell-content .cell-item {
    position: relative;
    padding-top: 12px;
    height: 32%;
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    background: #f3f3f3;
}

.slot-labels {
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 8px;
    text-align: center;
}

.slot-label {
    background-color: #62b959;
    padding: 2px 4px;
}

.registered {
    background: #006bda !important;
}

.recurring-select {
    padding-right: 3.75rem !important;
}

.cell-action {
    width: 70px;
}

.cell-class-details p:first-child {
    font-weight: 500;
}

.cell-class-details p {
    color: #fff;
    margin: 0;
    padding: 0;
    max-height: 2.4em; /* Adjust according to font size and line height */
    line-height: 1.2em; /* Adjust according to font size and line height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main-table .row-week {
    color: #b60000;
    font-weight: 700;
}

.main-table .highlight .cell-date  {
    color: #ff0000;
    font-weight: 700;
}

.main-table .single-cell .cell-item:not(.registered):not(.active):hover {
    background: #63aaf3 url("/images/plus.png") no-repeat center;
    color: #fff;
}

.main-table .single-cell .cell-item.active {
    background: #63aaf3 none;
    color: #fff;
}

.main-table .other-month .cell-date {
    opacity: 50%;
}

.calendar-container {
    margin-bottom: 20px;
}

.navigation {
    margin-bottom: 10px;
}

.prev-button, .next-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #009404;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
}

.prev-button:hover, .next-button:hover {
    background-color: #079805;
}

/* Modal styles */
/*
.popup-modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
    height: 600px;
    text-align: center;
}

.close {
    color: #aaa;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
*/


/*
** DataTable
*/

#schedule-table span.dt-column-order{
    display: none;
}

#rooms-table.dataTable td.dt-type-numeric {
    text-align: center;
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc {
    padding-right: 18px !important;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order {
    right: 4px !important;
}

table.table.dataTable>tbody>tr {
    vertical-align: middle;
}

div.dt-container div.dt-search {
    display: inline-block;
    margin-right: 35px;
}

div.dt-container .dt-length {
    display: inline-block;
}
#module-select {
    display: inline-block;
    padding-left: 30px;
}
