@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

select, input {
    text-overflow: ellipsis;
}

.wrapper {
    display: flex;
}

.main {
    max-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    vertical-align: middle;
    margin-right: .75rem;
    padding-bottom: 0.2rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.new-form-hidden {
    display: none;
}

/*Fix select2 CSS*/
.form-floating .select2-container--bootstrap-5 .select2-selection {
    height: calc(3.5rem + 2px);
    padding: 1rem 0.75rem;
}

.form-floating .select2-container--bootstrap-5 .select2-selection>.select2-selection__rendered {
    margin-top: 0.6rem;
    margin-left: 0.25rem;
}

/*Datatable*/
.cell-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-switch .form-check-input {
    margin-left: -2em !important;
}

.cell-row-split {
    display: flex;
    flex-direction: column;
    margin: -6% -16px;
}

.row-split {
    display: block;
    padding: 10px 16px;
}

.row-split:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

#all-schedule-modal .modal-body {
    height: 80vh !important;
    overflow-y: auto;
}

#pclass-all-schedule-table .dropdown-menu {
    min-width: fit-content !important;
}

.multi-schedule-session-select > *:not(input) {
    width: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.multi-schedule-session-select > label {
    border-color: #dee2e6;
    border-radius: 0;
}

/*Full page spinner*/

#loadingOverlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0; /* Start with an opacity of 0 */
    transition: opacity 0.3s ease-in-out;
}

#loadingOverlay.visible {
    display: block;
    opacity: 1; /* Full opacity when visible */
}


#loadingOverlay .spinner-border {
    width: 3rem;
    height: 3rem;
}

.overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
